services:
  mongo:
    image: mongo:6
    container_name: marks-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: marks-backend
    restart: unless-stopped
    ports:
      - "5000:5000"
    environment:
      JWT_SECRET: "super-long-random-secret-change-me"
      MONGO_URI: "mongodb://mongo:27017/student_marks_db"
      CORS_ORIGINS: "http://localhost:3000"
      MAX_UPLOAD_MB: "10"
      JWT_EXP_HOURS: "6"
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: marks-frontend
    restart: unless-stopped
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  mongo_data:
